body {
    background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/05/winnie-the-pooh-sitting-on-meadow-desktop-wallpaper-preview.jpg);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(199, 144, 73);
   margin: 0 auto;
   margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    border-radius: 10px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 220px;
}
.content {
    flex: 1;
    padding: 15px;
}
#pfp {
    border-radius: 40px;
}
/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
#engage {
    border: 4px rgb(199, 144, 73) dotted;
    padding: 8px;
    border-radius: 20px;
}
h2, h3 {
    margin: 0px;
}
